@charset "UTF-8";
<style>
        body {
            background-color: rgba(187, 227, 230, 0.25);
        }

        h1,h2,h3,h4,h5,h6 {  /* 복수로 적용가능 */
            font-size: 40px;
            color: white;
            text-align: center;
            text-shadow: 3px 3px 3px #000;
        }

        #nav ul {
            font-size: 25px;
            list-style: mome;
            margin: 0;
        }

        #nav li {
        font-size: 30;
            width: 30%;
            background-color: rgb(173, 34, 201);
            display: block;
            float: left;
            margin-right: 7px;
            border: 1px solid rgb(255, 255, 255);
        }

        #nav a {
            font-size: 10%;
            color: #fff;
            display: block;
            font-weight: 1px;
            padding: 30%;
            text-decoration: none;
            text-align: left;
        }
        #nav li {
            /* 박스에 색을 지정 */
            background-color: #a586e7;
        }

        #nav li:hover {
            /* 박스가 선택되었을 때의 색을 지정 */
            background-color: #d37ecf;
        }

        .top_menu {
            background-color: #f0ed5fc8;
        }

</style>