table {
    margin: auto;
}
table tr td {
    text-align: center;
    /* background-color: rgb(128, 198, 144); */
}
tr:nth-child(odd) {
    /* 짝수행에 색 */
    background: rgb(15, 140, 189);
}
tr:nth-child(even) {
    /* 홀수행에 색 */
    background: rgb(95, 233, 238);
}
th {
    width: 100px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(72, 209, 85);
}